.container {
  text-align: center;
  width: 60%;
  margin-left: 33%;
}

.arrows {
  /*display: inline-block;
  float: left;
  transform: translate(-93%, -150%);*/
}

.p {
  /*display: inline-block;
  left: 25px;
  float: left;
  transform: translate(75%);*/
}


body {
  font-family: sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
  text-align: center;
}

.home {
  position: relative;
  top: 180px;
}

.snake-game {
  min-width: 475px;
  min-height: 475px;
  border: 5px solid black;
  /*position: relative;*/
  /*margin-left: 50%;*/
  /*transform: translateX(-50%);*/
  text-align: center;
  float: left;
}

.details {
  /*text-align: center;*/
  /*display: inline-block;*/
  float: left;
  /*transform: translateX(-100%);*/
}

.score {
  /*display: inline-block;*/
  font-size: 36px;
}

.score:after {
  /*content: "";
  clear: both;
  display: inline-block;*/
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
  /*border: 1px solid black;*/
  border-radius: 2px;
  margin-bottom: -1px;
  margin-right: -1px;
}

.apple {
  width: 20px;
  height: 20px;
  /*background: red;*/
  border-radius: 50%;
  background: -webkit-radial-gradient(circle, red, black); /* Safari */
  background: -o-radial-gradient(circle, red, black); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, red, black); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, red, black); /* Standard syntax */
}

.snake {
  background: green;
  border-radius: 2px;
  background: -webkit-radial-gradient(circle, green, black); /* Safari */
  background: -o-radial-gradient(circle, green, black); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, green, black); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, green, black); /* Standard syntax */
}

.head {
  background: blue;
  border-radius: 50%;
  background: -webkit-radial-gradient(circle, blue, black); /* Safari */
  background: -o-radial-gradient(circle, blue, black); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, blue, black); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, blue, black); /* Standard syntax */
}
